@font-face {
  font-family: 'Segoe UI Regular';
  src: url("../font/SegoeUI.eot");
  src: url("../font/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../font/SegoeUI.woff") format("woff"), url("../font/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url("../font/SegoeUI-Bold.eot");
  src: url("../font/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../font/SegoeUI-Bold.woff") format("woff"), url("../font/SegoeUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.header__logo {
  font-family: 'Segoe UI Bold', sans-serif;
  text-decoration: none;
  font-size: 36px;
  line-height: 48px;
  color: #4579CB;
}

.header__nav nav {
  display: inline-block;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.header__item {
  font-family: 'Segoe UI Bold', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
  color: #666666;
}

.header__btn {
  margin-left: 35px;
}

body {
  background-color: #FAFCFF;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-family: 'Segoe UI Bold', sans-serif;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: #474747;
}

.text {
  font-family: 'Segoe UI Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.button {
  font-family: 'Segoe UI Bold', sans-serif;
  background: #4579CB;
  border-radius: 8px;
  border-color: transparent;
  padding: 13px 34px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
