@import 'fonts';

@import 'header';

body{
	background-color: #FAFCFF;
}

.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
}

.title{
	@include bold;
	font-size: 26px;
	line-height: 48px;
	text-align: center;
	color: #474747;
}

.text{
	@include regular;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}

.button{
	@include bold;
	background: #4579CB;
	border-radius: 8px;
	border-color: transparent;
	padding: 13px 34px;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}